<ion-header>
  <ion-toolbar>
    <ion-title>challenges</ion-title>
  </ion-toolbar>
</ion-header>


<!-- <ion-content fullscreen>
  
</ion-content> -->

<ion-content>

  <ion-card>
    <img src="assets/images/ch-1.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center" >The Perfect moment</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Win a Menfrotto backpack worth over $1500!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
    <ion-button color="medium" shape="round" expand="full">Enter Now</ion-button>
  </ion-card>

  <!-- <div class="single_post new_block" id="postScroll">
    <div class="page_inner mb-2" style="background-color: white;">
      <div class="post">
        <img class="mt-0" src="assets/images/ch-1.jpg" />
      </div>

      <div class="page_inner">
        <div class="post_bottom">

          <h3 class="text-center">
            The Perfect moment
          </h3>

          <div class="text-center subtitle">
            Win a Menfrotto backpack worth over $1500!
          </div>

          <div class="text-center brandName">
            PhotoPlus
          </div>
        </div>
      </div>
      <div class="text-center enterDiv">
        Enter Now
      </div>

    </div>
  </div> -->
</ion-content>