<ion-header>
  <ion-toolbar>
    <ion-title>challenges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="single_post new_block" id="postScroll">
    <div class="page_inner mb-2" style="background-color: white;">
      <div class="post">
        <img class="mt-0" src="assets/images/ch-1.jpg" />
      </div>

      <div class="page_inner">
        <div class="post_bottom">

          <h3 class="text-center">
            The Perfect moment
          </h3>

          <div class="text-center subtitle">
            Win a Menfrotto backpack worth over $1500!
          </div>

          <div class="text-center brandName">
            PhotoPlus
          </div>
          <!-- <div class="bottom_4_comment">
            <div class="custom_div_1">
              <div class="post_bottom_comment_img">
                <img src="assets/images/1.jpg" />
              </div>
            </div>

            <div class="custom_div_2">
              <input type="text" id="co_1" class="form-control post_bottom_comment" placeholder="Comment..." />
              <a>
                <img class="comment_send" src="assets/images/send_comment_icon.png" />
              </a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="text-center enterDiv">
        Enter Now
      </div>

    </div>
  </div>
</ion-content>